@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Sora&display=swap');

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet-active {
  background-color: #2ea2d4 !important;
  width: 25px !important;
  border-radius: 5px !important;
}
.swiper-pagination-bullet {
  background-color: #2ea2d4 !important;
  border-radius: 5px !important;
}
.swiper-pagination {
  bottom: -3px !important;
}
.swiper-slide {
  padding: 6px;
}
.swiper-slide img {
  border: 2px solid white !important;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 30px;
}
.swip-slide img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  border-radius: 30px;
  border: 2px solid white;
}
.swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  background-color: #3f4142 !important;
  padding: 10px;
  padding-right: 22px;
  padding-left: 22px;
  height: max-content !important;
  color: gray;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px !important;
  color: #b1b2b8 !important;
}
