@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 12px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 0;
}
.swiper-button-next {
  margin-right: -40px;
  background-color: white;
  border-radius: 50%;
  padding: 42px;
  color: gray;
}
.swiper-button-prev {
  margin-left: -40px;
  background-color: white;
  border-radius: 50%;
  padding: 42px;
  color: gray;
}
