@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet-active {
  background-color: #2ea2d4 !important;
  width: 25px !important;
  border-radius: 5px !important;
}
.swiper-pagination-bullet {
  background-color: #2ea2d4 !important;
  border-radius: 5px !important;
}
.swiper-pagination {
  bottom: -3px !important;
}
.swiper-slide {
  padding: 10px;
}
.swiper-slide img {
  border: 2px solid #2ea2d4 !important;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
}
.swip-slide img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
}
.swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  background-color: white !important;
  padding: 10px;
  padding-right: 22px;
  border: 1px solid #2ea2d4 !important;
  padding-left: 22px;

  height: max-content !important;
  color: gray;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px !important;
  color: blue !important;
}
